.hs-keyword {color: #840; font-weight: bold;}
.hs-comment, .hs-comment a {color: blue;}
.hs-str, .hs-chr, .hs-num {color: magenta;}
.hs-conid, .hs-conop {color: green;}
.hs-varop, .hs-keyglyph, .hs-layout {color: #64C;}
.hs-keyword, .hs-conid, .hs-varid, .hs-conop, .hs-varop, .hs-num, .hs-cpp, .hs-sel, .hs-definition {}

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 38px;
}

pre, code {
  font-family: 'Droid Sans Mono', sans-serif;
}

pre {
  background: #F0F0FF;
  padding: 3px 10px 3px 10px;
  margin: 15px 10px;
  overflow: auto;
}

.header {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  background: #E0E0FF;
}

.footer {
  position: absolute;
  left: 5px;
  right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  background: #E0E0FF;
  font-size: 80%;
}

.right {
  position: absolute;
  right: 3px;
}

img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footnote {
  vertical-align: super;
  font-size: 80%;
  margin-left: 1px;
  text-decoration: none;
}

a:visited {
  color: #40f;
}

a:visited.footnote, a:link.footnote {
  color: #00f;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.footnotes {
  font-size: 90%;
}
